/* small screen */
@media (min-width: 576px) and (max-width: 767px) {


    /* gobal */
    .container{
        max-width: 540px;
    }
/* end global */
    /* Start of the heading */

    .navbar{
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr 2px;
    }

    
    .button-nav
    {
      padding-top: 14px;
    }
    .nav-list{
      padding-left: 0;
    }
    .navbar ul li {
        display: block;
    }

    .navbar .button-nav button{
        display: inline-block;
    }

    .tourz-search-form {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: 10px;
    }
  
    .tourz-search-form .Enter-city {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 7;
    }
    .tourz-search-form .Enter-city input{
      width: 100%;
    }
    .tourz-search-form .serch-over-all {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 7;
    }
    .tourz-search-form .search-btn {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 7;
    }

    .tourz-search-form .search-btn button{
      width: 100%;
    }
    /* End of the heading */
  
    /* Start of the travells */
    .travel1,
    .travel2,
    .travel3 {
      margin: 10px auto;
    }
    /* End of the travells */
  
    /* start popular cities */
  
    .cities-content {
      grid-template-rows: repeat(6, 1fr);
    }
  
    .cities-content .city2row {
      grid-column-start: 1;
      grid-column-end: 7;
    }
    .cities-content .city1row {
      grid-column-start: 1;
      grid-column-end: 7;
    }
  
    /* End popular cities */
  
    /* start of search travel */
  
    .image-td img {
      display: hide;
    }
    
  .table::after{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    /* color: black; */
    opacity: 0.3;
    border-left: 50px dashed #978897;
    border-right: 50px dashed transparent;
    border-top: 50px dashed transparent;
    border-bottom: 50px dashed transparent;
  }

  .table::before{
    position: absolute;
    content: "";
    top: 50%;
    left: 55%;
    /* color: black; */ 
    opacity: 0.3;
    border-left: 50px dashed #978897;
    border-right: 50px dashed transparent;
    border-top: 50px dashed transparent;
    border-bottom: 50px dashed transparent;
  }
    /* End of search travel */
  



        /* Start of avaiable packeages */
  
        .avail-package .packages{
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(340px,1fr));
            gap: 10px;
            row-gap: 20px;
            
          }
        .package-image img{
            width: 100%;
        }
          .avail-package .packages .package{
            display: grid;
            grid-template-columns: 1fr;
            text-align: center;
          }
          .avail-package .packages .package .book-btn{
              width: 100%;
          }
          
  
  /* End of available packages */
  
  /* footer */
  .first-section{
    display: grid;
    grid-template-columns:1fr;
    gap:20px
  }
  
  .first-section .vacations ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  .first-section .vacations ul li{
    width: 35%;
  }

  /* end of footer */
  }