/* variable */

:root{

--main:#00305E
}


* {
    font-family: "Quicksand", sans-serif;
    line-height: 1.6;
}
.logo{
  width: 80px;
  height: 80px;
  position: relative;
}
.logo img{
  max-width: 80px;
  max-height:80px ;
  position: absolute;
}
.navbar{
display: grid;
grid-template-columns: 2fr 1fr;
transition: all 0.1ms linear;
}
.nav-list,
.button-nav
{
  padding-top: 14px;
  
}

.navbar ul{
  list-style-type: none;
  display: inline-block;
  height: 0;
  transition: all 0.3s linear;
}

.navbar ul li {
  display: inline-block;
  margin-right: 15px;
  transition: all 0.3s linear;
  opacity: 0;
}
.button-nav {
  text-align: right;
}
.navbar .button-nav button{
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #ccc;
  color: #CCC;
  border-radius: 5px;
  margin-top: 6px;
  display: none;
}


.main-nav .navbar .navbar-nav .nav-item {
    font-weight: 500;
}

.main-header {
  height: 100vh;
  background-image: url("../images/hamasa4.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* background-image: linear-gradient(to right, #BFBDC4,#926471, #9F4F5C); */
  background-color: var(--main) ;
  opacity: 0.5;
}

.overlay2 {
  position: absolute;
  width: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--main);
  opacity: 0.2;
  transition: all 500ms;
  border-radius: 15px;
}

.content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
  color: white;
}

.main-header .main-content{
  color: white;
  position: relative;
  display: grid;
  height: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr;
  text-align: center;
  padding: 0 15px;
}
.main-content .main-content-written{
  z-index: 9;
}
.main-header .main-content-written{
  max-width: 674.500px;
  margin: 0 auto;
}

.main-header .overlay{
  width: 100%;
}
.main-header .main-content{
  justify-content: center;
  align-items: center;
}



.form-input,
.form-control,
.formo {
  height: 50px !important;
}

.btn.form-control {
  font-size: larger;
  font-family: "Quicksand", sans-serif;
  color: white;
  background-color: #e52841;
}

.tourz-search-form {
  display: grid;
  grid-template-columns: 2fr 6fr 2fr;
  gap: 10px;
}
.tourz-search-form .Enter-city input{
  border-radius: 10px;
  outline: none;
  border: none;
  padding-left: 5px;
}

.serch-over-all .search{
  height: 100%;
  border-radius: 10px;
}

/* End of header */

/* Start of heading component */

.heading {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}

.heading .container .header h2 {
  font-size: -webkit-xxx-large;
  font-weight: bold;
  color: #f4364f;
}

.heading .container .header h2 span {
  color: #253d52;
}

.heading .container .sperator {
  position: relative;
  text-align: center;
  margin-top: 20px;
}
.heading .container .sperator .content {
  width: 200px;
}

.heading .container .sperator hr {
  width: 100px;
  display: inline-block;
  position: absolute;
}
.heading .container .sperator .hr1 {
  top: 4px;
  right: -15px;
}
.heading .container .sperator .hr2 {
  top: 4px;
  left: -15px;
}

.heading .container .sperator span {
  color: #ebbf35;
}

.heading .container .title {
  margin-top: 40px;
  color: #888;
}

/* End of heading componet */

/* start of travells */

.travells-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 10px;
  /* justify-content: space-between; */
}

.travells-content .card {
  width: 340px !important;
  overflow: hidden;
}

.travells-content .card .card-body {
  padding: 10px;
  padding-bottom: 0;
}

.travells-content .card .card-body p {
  display: inline-block;
}
.travells-content .card .card-body ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: right;
}
.travells-content .card .card-body ul li {
  display: inline-block;
}

.img {
  width: 340px;
  background-position: center;
  background-size: cover;
  height: 200px;
  max-height: 210px;
  transition: all 0.3s;
}

.img:hover {
  height: 210px;
}

.travel1 .img {
  background-image: url("../images/hamasa6.jpg");
}

.travel2 .img {
  background-image: url("../images/hamasa8.jpg");
}
.travel3 .img {
  background-image: url("../images/hamasa5.jpg");
}

/* End travelling */

/* start popular cities */
.cities-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  color: white;
}

.cities-content .city2row {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.cities-content .city2row {
  background-image: url("../images/home.jpg");
  background-position: center;
  background-size: cover;
  height: 540px;
  border-radius: 15px;
  color: #eeeee1;
  font-size: larger;
  position: relative;
}
.cities-content .city1row {
  position: relative;
}

.cities-content .city2row .city-text .para1,
.cities-content .city1row .city-text .para1 {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.cities-content .city2row .city-text .para2,
.cities-content .city1row .city-text .para2 {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.cities-content .city1row.city1row1 {
  background-image: url("../images/home1.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.cities-content .city1row.city1row2 {
  background-image: url("../images/home2.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.cities-content .city1row.city1row3 {
  background-image: url("../images/home3.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.cities-content .city1row.city1row4 {
  background-image: url("../images/home4.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}

.city2row:hover > .overlay2,
.city1row:hover > .overlay2 {
  width: 100%;
}
.cities-content .details {
  /* text-align: center; */
  height: 100%;
  width: 100%;
  z-index: 1099;
  display: grid;
  justify-content: center;
  align-content: center;
  color: transparent;
  transition: all 0.3s;
}
.cities-content .city2row:hover > .details,
.cities-content .city1row:hover > .details {
  color: white;
}

/* End popular cities */

/* Start of Hotel booking */

.avail-travel .travells-content .card-body {
  display: grid;
  margin-top: 5px;
  grid-template-columns: 70% 30%;
}
.avail-travel .travells-content .card-body .details h4 {
  font-size: 18px;
  color: black;
}
.avail-travel .travells-content .card-body .details p {
  font-size: 16px;
  color: #888077;
}
.avail-travel .travells-content .card-body .price {
  font-size: 38px;
  font-weight: 600;
  color: #f4364f;
  float: right;
}
.avail-travel .travells-content .card-body .price {
  position: relative;
}
.avail-travel .travells-content .card-body .price span {
  position: absolute;
  bottom: 3px;
  right: 3px;
}
.avail-travel .travells-content .card-body .details i {
  color: #ff9800;
}

.avail-travel .travells-content .card .avail-members {
  position: absolute;
  padding: 4px 15px;
  background-color: #8bc34a9e;
  color: white;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
  top: 160px;
  right: 10px;
  opacity: 1;
}
/* End of Hotel booking */


/* Start of travel search */

.travel-search{
    margin-bottom: 30px;
}
.travel-search .search,
.search{
    border: 1px solid #EEE;
    outline: none;
    padding: 5px;
    position: relative;
    border-radius: 15px;
}
.travel-search .search input,
.search input{
    height: 100%;
    padding: 6px 40px;
    font-size: 1rem;
    font-weight: 400;
    width: calc(100% - 32px - 10px);
    border: 1px solid black;
    border: none;
    outline: none;
}
.travel-search .search i,
.search i{
    color: #CCC;
    position: absolute;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius:15px ;
    margin-top: 25px;
  }
  

  tr{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  

  tbody th, tbody td{
    padding-top: 35px !important;
  }

  tbody tr{
      background-color: white;
      transition: all 0.2s;
  }
  tbody tr:hover{
    background-color: #eee;
  }
.image-td{
    padding: 15px 15px 10px 0 !important;
}
.image-td span{
    margin-left: 5px;
    font-size: 18px;
    font-weight: 600;
    
}
.image-td img{
    width:110px;
    border-radius:15px ;
}

.book-btn {
    background-color: var(--main);
    color: white;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    height: 45px;
    width: 100px;
    transition: all 0.3s;
    cursor: pointer;
}
.btn.form-control{
  background-color: var(--main);
  cursor: pointer;
}

.book-btn:hover{
    background-color: #007bff;
}


.btn-td{
    padding-top: 25px !important;
}

.table{
  overflow: auto;position: relative;
}
/* End of travel search */

/* Start of available packages */
.avail-package {
  margin-bottom: 60px;
}
.avail-package .packages{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
  column-gap: 20px;
  row-gap: 40px;
 
}

.avail-package .packages .package{
  display: grid;
  grid-template-columns: 234px 1fr;
  gap:20px
}
.avail-package .packages .package .package-image img{
  border-radius: 15px;
}

.avail-package .packages .package h6,
.avail-package .packages .package h5{
    color: #253d52;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    text-transform: capitalize;
}
.avail-package .packages .package p{
color:#253d52;
}
/* End of available packages */



/* Start of footer */

.footer{
  background-color: black;
  padding-top:40px ;
  padding-bottom: 20px;
}
.first-section{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.first-section .vacations ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}
.first-section .vacations ul li{
  display: inline-block;
  margin:3px;
  width: 20%;
  background-color:#888;
  color:  #D6D7D8;
  transition: all 0.2s linear;
  border-radius: 5px;
  padding: 3px;
  }

  .first-section .vacations ul li a{
    padding-right: 3px;
    color:  #D6D7D8;
    text-decoration: none;
  }


  .first-section .vacations ul li:hover{
    background-color: #126164;
  }

  .first-section .follow-us p{
    color: #616161;
  }

  .first-section .follow-us ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .first-section .follow-us ul li {
    display: inline-block;
    margin-right: 15px;
  }
  .first-section .follow-us ul li:first-child{
    color:#1534bf;
  }
  .first-section .follow-us ul li:nth-child(2){
  color:#15AABF
}

.first-section .follow-us ul li:nth-child(3) i{
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  border-radius: 10px;
}
  .second-section{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }

.second-section{
  margin-top: 20px;
}

.second-section p{
  color: #888;
}
/*  End of footer */
/* Media Query*/
 